<div class="row">
	<div class="large-3 column">
		<%= render 'companies/settingsbar' %>
	</div>
	<div class="large-9 column">
		<br />
		<h3>Manage Employees</h3>
		<br />
		<h5>New Employee</h5>
		<%= render 'new_form' %>
	</div>
</div>
