<script type="text/javascript">
function sendPost(){
	var postd = { 
		"post_type": $(".post_type").val(), 
		"content": $(".content").val(), 
		"user_id": 16, 
		"company_id": 1 
	};
	
	$.ajax({
	    type: "POST",
	    url: "/companies/1/posts",
	    data: JSON.stringify({ post: postd }),
	    contentType: "application/json; charset=utf-8",
	    dataType: "json",
	    success: function(data){alert(data);},
	    failure: function(errMsg) {
	        alert(errMsg);
	    }
	});
}	
</script>
<div class="row">
	<div class="large-12 column">
		<br />
		<div>
			<a id="expand" class="button radius tiny">New Post</a>
			<div id="hide">
				<input id="inp_post_type" type="text" class="post_type" placeholder="Type"/>
				<input id="inp_post_cont" type="text" class="content" placeholder="Content"/>
				<button onclick="sendPost('<%=@posts%>');">Post</button>
			</div>	
		</div>
		<div id="posts_timeline">
			<%= render 'feed_post' %>
		<div/>
		<br>
	</div>
</div>