body{
	/*background-image: url('https://images.unsplash.com/photo-1429667947446-3c93a979b7e0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=361052673f2a5abb91e02cc69a8d1ebf');
	  https://images.unsplash.com/photo-1430843415799-496615fe798c?crop=entropy&dpr=2&fit=crop&fm=jpg&h=625&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1250
	  https://images.unsplash.com/photo-1429667947446-3c93a979b7e0?crop=entropy&dpr=2&fit=crop&fm=jpg&h=625&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1275
	  https://images.unsplash.com/photo-1445194020677-e9b88754da4b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=4d346eaba1441261b8d0150cf80daf72
	  https://images.unsplash.com/photo-1447639703758-f525f36456bf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=19105a31b54ba0333623f7dc3428f2fd      *** THE ONE ***
	  https://images.unsplash.com/36/yJl7OB3sSpOdEIpHhZhd_DSC_1929_1.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=bff5aa50ae02b0c284e13c5b30b3aa4a
	  https://images.unsplash.com/40/OTwgwURiQN6DLk8zIr8E_DSC00953.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=84da56babe46248e300a00c64ea4d87e
	*/
	background-image:url('https://images.unsplash.com/photo-1447639703758-f525f36456bf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=19105a31b54ba0333623f7dc3428f2fd');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
#footer{
	color:white;
	margin-top:15px;
}
.edit{
	margin-top:20px;
}
.action-right{
	position:relative;
	top:2px;
}
.location{
	width:25%;
	float:left;
	padding-right:20px;
}
.location-title{
	background-color:#eee;
	text-overflow:ellipsis;
	height:34px;
	width:auto;
	overflow:hidden;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
}
.location-action{
	float:right;
}
.department{
	width:25%;
	float:left;
	padding-right:20px;
}
.department-title{
	background-color:#eee;
	text-overflow:ellipsis;
	height:34px;
	width:auto;
	overflow:hidden;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
}
.department-action{
	float:right;
}
.main-edit{
	padding:10px;
}
.edit h4.title{
	float:right;
}
.edit p.hint{
	float:right;
	color:gray;
	font-size:13px;
}
.edit p.hint-nopos{
	font-size:13px;
	color:gray;
	margin-left:10px;
}
.edit .emang-btn{
	margin-left:10px;
	margin-top:5px;
}
.employee-row{
}
.noemps{
	padding:10px;
	background-color:#f7f7f7;
}.noemps p{
	padding:0px;
	margin:0px;
}
.edit .req{
	color:red;
}
.errors{
	background-color:#ffd4d4;
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:1px;
	margin-bottom:20px;
}
.errors ul{
	
}
.errors li{
	list-style:circle;
}
.flash-banner-error{
	margin-top:10px;
	padding:5px;
}
.flash-banner-notice{
	margin-top:10px;
	padding:5px;
}
.home-banner{
	/*background-image:url('http://s9.postimg.org/sn1zed5rj/orgpoint_banner_small.png');
	background-repeat:no-repeat;
	background-size:cover;
	width:100%;*/
	border:0px solid black;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.home-banner .banner{
	padding:20px;
	padding-left:40px;
	padding-right:40px;
}
.home-banner .banner .border-img{
	border:2px solid rgb(200,200,200);
	border-radius:3px;
	-moz-border-radius:3px;
}
.home-banner .banner h2{
	color:white;
	text-align:center;
	/*background-color:rgba(0,0,0,.5);
	padding-left:10px;*/
}
.home-banner .info h4{
	color:#ff8800;
}
.home-banner .info-banner{
	background-color:rgb(200,200,200);
}
.home-banner .info-banner-c{
	background-color:rgba(200,200,200,.8);
}
.home-banner .info-banner-w{
	background-color:white;
}
.home-banner .info-banner-r{
	background-color:rgba(200,200,200,.8);
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.container-shading{
	background-color:rgba(200,200,200,.6);
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	padding-top:30px;

}
.feat-desc{
	padding-top:20px;
}