<script type="text/javascript">
      google.charts.load('current', {packages: ['treemap', 'corechart', 'bar', 'geochart', 'table']});
      google.charts.setOnLoadCallback(drawAll);
      
      function drawAll() {
	      drawA();
	      drawB();
	      drawC();
	      //drawD();
	      drawE();
	      drawF();
	  }
	  
	  function drawA(){
        var data = google.visualization.arrayToDataTable([
          ['Skill', 'Employees'],
          ['Leadership', 30],
          ['Word', 15],
          ['Excel', 9],
          ['Java', 5],
          ['Reading', 3]
        ]);

        var options = {
          title: 'Top 5 Skills',
          legend: { position: 'none' },
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
      
      function drawB() {
	    var data = google.visualization.arrayToDataTable([
	      ['Department', 'Employees'],
	      ['Production',     			11],
	      ['R&D',      					 2],
	      ['Purchasing', 				 5],
	      ['Marketing', 				 9],
	      ['Human Resource Management', 12],
	      ['Accounting & Finance', 		10]
	    ]);
	    
	    var options = {
	      title: 'Department Distributions',
	      pieHole: 0.2,
	    };
	
	    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
	    chart.draw(data, options);
	  }

	  function drawC(){
	  	var data = google.visualization.arrayToDataTable([
          ['Day', 'Hires'],
          ['1',  1],
          ['2',  5],
          ['3',  2],
          ['4',  0],
          ['5',  0],
          ['6',  0],
          ['7',  1],
          ['8',  2],
          ['9',  0],
          ['10', 1],
          ['11', 0],
          ['12', 0],
          ['13', 0],
          ['14', 0],
          ['15', 0]
        ]);

        var options = {
          title: 'New Hires',
          legend: {position: 'none'}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('area_c'));
        chart.draw(data, options);
	  }

	  /*function drawD(){
	  	var data = google.visualization.arrayToDataTable([
          ['Location', 'Parent', 'Market trade volume (size)', 'Market increase/decrease (color)'],
          ['Global',    null,                 0,                               0],
          ['America',   'Global',             0,                               0],
          ['Europe',    'Global',             0,                               0],
          ['Asia',      'Global',             0,                               0],
          ['Australia', 'Global',             0,                               0],
          ['Africa',    'Global',             0,                               0],
          ['Brazil',    'America',            11,                              10],
          ['USA',       'America',            52,                              31],
          ['Mexico',    'America',            24,                              12],
          ['Canada',    'America',            16,                              -23],
          ['France',    'Europe',             42,                              -11],
          ['Germany',   'Europe',             31,                              -2],
          ['Sweden',    'Europe',             22,                              -13],
          ['Italy',     'Europe',             17,                              4],
          ['UK',        'Europe',             21,                              -5],
          ['China',     'Asia',               36,                              4],
          ['Japan',     'Asia',               20,                              -12],
          ['India',     'Asia',               40,                              63],
          ['Laos',      'Asia',               4,                               34],
          ['Mongolia',  'Asia',               1,                               -5],
          ['Israel',    'Asia',               12,                              24],
          ['Iran',      'Asia',               18,                              13],
          ['Pakistan',  'Asia',               11,                              -52],
          ['Egypt',     'Africa',             21,                              0],
          ['S. Africa', 'Africa',             30,                              43],
          ['Sudan',     'Africa',             12,                              2],
          ['Congo',     'Africa',             10,                              12],
          ['Zaire',     'Africa',             8,                               10]
        ]);

        var chart = new google.visualization.TreeMap(document.getElementById('tree_map'));
        
        var options = {
          minColor: '#f00',
          midColor: '#ddd',
          maxColor: '#0d0',
          headerHeight: 15,
          fontColor: 'black',
          showScale: true
        };

        chart.draw(data, options);
	  }*/

	  function drawE(){
	  	var data = google.visualization.arrayToDataTable([
          ['Country', 'Popularity'],
          ['Germany', 200],
          ['United States', 300],
          ['Brazil', 400],
          ['Canada', 500],
          ['France', 600],
          ['RU', 700]
        ]);

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
	  }

	  function drawF(){
	  	var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('number', 'Salary');
        data.addColumn('boolean', 'Full Time Employee');
        data.addRows([
          ['Mike',  {v: 10000, f: '$10,000'}, true],
          ['Jim',   {v:8000,   f: '$8,000'},  false],
          ['Alice', {v: 12500, f: '$12,500'}, true],
          ['Bob',   {v: 7000,  f: '$7,000'},  true]
        ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
	  }
    </script>

<script type="text/javascript">
  
</script>
<br />
<div class="row" style="background-color:#f9f9f9;">
	<div class="large-4 large-offset-4 column">
		<center><h2><%= @company.title %></h2></center>
	</div>
	<div class="large-4 column">
		<h4 style="margin-top:15px; float:right;">126 Employees</h4>
	</div>
</div>
<br />
<div class="row">
	<div class="large-6 column">
		<h5><b>1453</b> photos</h5>
		<h5><b>45</b> posts</h5>
		<h5><b>342</b> comments</h5>
	</div>
	<div class="large-6 column">
		<h5>5 Most Popular Posts</h5>
		<ol>
			<li><a href="">Myths of Development</a> &middot; Glenn Dayton &middot; 43 likes</li>
			<li><a href="">Being cool</a> &middot; Bob Marley &middot; 21 likes</li>
			<li><a href="">More shit</a> &middot; Angel Mars &middot; 4 likes</li>
			<li><a href="">I hate this stats page</a> &middot; Favil Mar &middot; 1 like</li>
		</ol>
	</div>
</div>
<div class="row">
	<br />
	<div class="large-6 column">
		<div id="chart_div" style="width:100%;"></div>
	</div>
	<div class="large-6 column">
		<div id="donutchart" style="width:500px;"></div>
	</div>
</div>
<div class="row">
	<br />
	<div class="large-6 column">
		<div id="area_c" style="width:100%;"></div>
	</div>
	<div class="large-6 column">
		<!--<div id="tree_map" style="width:500px;"></div>-->
	</div>
</div>
<div class="row">
	<br />
	<div class="large-12 column">
		<div id="regions_div" style="width:100%;"></div>
	</div>
</div>
<div class="row">
	<br />
	<div class="large-6 column">
		<div id="table_div" style="width:100%;"></div>
	</div>
	<div class="large-6 column">
		<!--<div id="donutchart" style="width:100%;"></div>-->
	</div>
</div>