<script type="text/javascript">
      google.charts.load('current', {packages: ['corechart', 'bar']});
      google.charts.setOnLoadCallback(drawAll);
      
      function drawAll() {
	      drawA();
	      drawB();
	  }
	  
	  function drawA(){
        var data = google.visualization.arrayToDataTable([
          ['Skill', 'Length'],
          ['PHP', 12],
          ['Java', 9],
          ['HTML/CSS', 30]
        ]);

        var options = {
          title: 'Skills',
          legend: { position: 'none' },
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
      
      function drawB() {
	    var data = google.visualization.arrayToDataTable([
	      ['Task', 'Hours per Day'],
	      ['Production',     			11],
	      ['R&D',      					 2],
	      ['Purchasing', 				 5],
	      ['Marketing', 				 9],
	      ['Human Resource Management', 12],
	      ['Accounting & Finance', 		10]
	    ]);
	    
	    var options = {
	      title: '',
	      pieHole: 0.4,
	    };
	
	    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
	    chart.draw(data, options);
	  }
    </script>

<script type="text/javascript">
  
</script>
<div class="row">
	<br />
	<div class="large-6 column">
		<span class="overall-number">126</span><br />
		<span class="overall-number-label">Employees</span>
	</div>
	<div class="large-6 column">
		<h2>OrgPoint</h2>
	</div>
</div>
<div class="row">
	<div class="large-6 column">
		<div id="donutchart" style="width: 500px; height: 400px;"></div>
	</div>
	<div class="large-6 column">
		<div id="chart_div" style="width: 500px;"></div>
	</div>
</div>