<div class="row">
	<div class="large-3 column">
		<%= render 'companies/settingsbar' %>
	</div>
	<div class="large-9 column">
		<br />
		<h3>Manage Locations</h3>
		<br />
		<h5>New Location</h5>
		<%= render 'form' %>
	</div>
</div>
