<style type="text/css">

</style>
<div class="row"> 
	<div class="large-12 column">
		</br>
		<h2>FAQ</h2>
		<ul style="list-style:none;">
			<li><b>How do I sign up?</b></li>
			<li>You go the signup page</li>
			</br>
			</br>
			</br>
			<li><b>Who are we?</b></li>
			<li></li>
		</ul>
		<%= link_to "My Profile", user_path(current_user.id), style: "color:red;" %>
	</div>
</div>

