<style type="text/css">


</style>
<div class="row"> 
	<div class="large-12 column">
		</br>
		<h2>FAQ</h2>
		<ul style="list-style:none;">
			<li><b>Who are we?</b></li>
			<li>We're students at the University of California, Santa Cruz, with the goal of making employee lookup much easier and efficient.</li>
			</br>
			</br>
			</br>
			<li><b>How do I sign up?</b></li>
			<li>You go the signup page</li>
			</br>
			</br>
			</br>
			<li><b>How is pricing done?</b></li>
			</br><li>Pricing is done on a per user basis</li>
			</br>
			</br>
			<li><b>How are the subscriptions handled?</b></li>
			<li>Subscriptions are done on a per month or per year basis.</li>
			</br>
			</br>
			</br>
			<li><b>How do I import existing employees</b></li>
			</br><li></li>
			</br>
			</br>
			<li><b>W</b></li>
			<li></li>
			</br>
			</br>
			</br>
			<li><b></b></li>
			</br><li></li>
			</br>
			</br>
			<li><b></b></li>
			<li></li>
			</br>
			</br>
			</br>
			<li><b></b></li>
			</br><li></li>
			</br>
			</br>
			
		</ul>
		<%= link_to "My Profile", user_path(current_user.id), style: "color:red;" %>
	</div>
</div>

