<style type="text/css">


</style>
<div class="row"> 
	<div class="large-12 column">
		</br>
		<div style="background-color:#f2f2f2; padding:10px; width:100%; margin-bottom:35px;">
			<h2>Frequently Asked Questions</h2>
		</div>
		<ul style="list-style:none; margin-left:20px;">
			<li><b>Who are we?</b></li>
			</br><li>We're students at the University of California, Santa Cruz, with the goal of making employee lookup much easier and efficient in the workplace.</li>
			</br>
			</br>
			<li><b>How do I sign up?</b></li>
			</br><li>You go the <%= link_to "signup page", new_user_registration_path %>.</li>
			</br>
			</br>
			<li><b>How much does OrgPoint cost?</b></li>
			</br><li>$1 per user, per month</li>
			</br>
			</br>
			<li><b>How are the subscriptions handled?</b></li>
			</br><li>Subscriptions are done on a per month or per year basis.</li>
			</br>
			</br>
			<li><b>How do I import existing employees</b></li>
			</br><li>Existing employees from a system like ADP, can be imported via CSV, XLSX, or XLS sheet.</li>
			</br>
			</br>
			<li><b>Is OrgPoint secure?</b></li>
			</br><li>We're https secured. Yes OrgPoint is secured with a SSL certificate authorized by Cloudflare.</li>
			</br>
			</br>
			<li><b>Does OrgPoint aggregate company data and provide it to other companys?</b></li>
			</br><li>No, we keep your data private and secure to just your company.</li>
			</br>
			</br>
			<li><b></b></li>
			<li></li>
			</br>
			</br>
			</br>
			<li><b></b></li>
			</br><li></li>
			</br>
			</br>
			
		</ul>
	</div>
</div>

