<div class="home-banner">
	<div class="row">
		<div class="large-12 column banner">
			<br /><br /><br /><br />
			<h2>The Social Company Directory</h2>
		</div>
	</div>
</div>
<div class="row info" style="margin-top:30px;">
	<div class="large-3 column item-back">
		<center><%= image_tag("white_globe", width: "30%") %>
		<h4 style="color:#ffffff;">Fast</h4></center>
	</div>
	<div class="large-3 column item-back">
		<center><%= image_tag("white_globe", width: "30%") %>
		<h4 style="color:#ffffff;">Secure</h4></center>
	</div>
	<div class="large-3 column item-back">
		<center><%= image_tag("white_globe", width: "30%") %>
		<h4 style="color:#ffffff;">Cheap</h4></center>
	</div>
	<div class="large-3 column item-back">
		<center><%= image_tag("white_globe", width: "30%") %>		
		<h4 style="color:#ffffff;">Superior</h4></center>
	</div>
</div>
<div class="home-banner">
	<div class="row info-banner">
		<div class="large-12 column banner">
			<h5>Do you want a place where you can see all your coworkers?</h5>
			<p>OrgPoint is the tool for you to build a company directory.</p>
		</div>
		<br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br />
	</div>
</div>