<style type="text/css">
body{	
	background-image:url('https://images.unsplash.com/photo-1447639703758-f525f36456bf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=19105a31b54ba0333623f7dc3428f2fd');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;	
}
</style>
<div class="home-banner">
	<div class="row">
		<div class="large-12 column banner" style="margin-top:50px;">
			<!-- Placeholder text filled using http://hipsum.co/ -->
			<h2>Terms of Service</h2>
			<div class="row info container-shading" style=" margin-top:30px; Padding-Bottom: 20px">
				<div class="accordion" data-accordion style=" margin-top:-30px">
					<li class="column feat-desc accordion-navigation">
						<a href="#term1"><b>Copyright</b></a>
						<div id="term1" class="content active">
							<p>Bespoke drinking vinegar irony gluten-free kinfolk stumptown. Wayfarers vice drinking vinegar lumbersexual blue bottle. Typewriter food truck fixie neutra, tofu tumblr ennui raw denim. Health goth umami pug fixie yuccie master cleanse, organic affogato swag drinking vinegar four loko cliche franzen bushwick synth. Listicle street art kogi selvage vice, waistcoat occupy gentrify before they sold out chartreuse. Actually chicharrones semiotics fap. Swag freegan kombucha vinyl, cornhole truffaut normcore cliche taxidermy pop-up before they sold out chia squid.</p>

							<p>XOXO meditation aesthetic, trust fund blue bottle meh +1 health goth artisan raw denim street art PBRB cred forage. Umami fixie occupy tote bag. Tofu lumbersexual ramps biodiesel actually. Cray fingerstache roof party, offal polaroid listicle godard. Sustainable lumbersexual street art listicle echo park. 90's art party listicle, messenger bag church-key brunch chicharrones distillery selfies quinoa meditation heirloom scenester. Cliche lomo vegan, farm-to-table gastropub retro lumbersexual wolf post-ironic portland DIY man bun.</p>
						</div>
					</li>
				</div>

				<div class="accordion" data-accordion>
					<li class="column feat-desc accordion-navigation">
						<a href="#term2"><b>User Agreement</b></a>
						<div id="term2" class="content active">
							<p>Kogi tilde schlitz, whatever pitchfork quinoa pabst VHS tousled ugh shoreditch. Affogato kickstarter brunch messenger bag, cray fingerstache migas direct trade iPhone butcher jean shorts meggings drinking vinegar listicle. Polaroid man braid retro crucifix. Before they sold out hashtag ramps, trust fund bespoke iPhone thundercats cronut. Selfies craft beer thundercats pitchfork bespoke, retro synth salvia paleo pinterest fingerstache sustainable viral normcore. Chartreuse synth +1, vice tilde gochujang asymmetrical heirloom man bun chicharrones butcher pitchfork offal helvetica. Forage bicycle rights paleo, marfa sustainable XOXO man braid stumptown flexitarian meggings pinterest tattooed vice mustache.</p>

							<p>Semiotics food truck VHS keffiyeh, next level helvetica poutine banh mi intelligentsia gastropub ethical pug franzen. Fixie vegan synth, jean shorts sriracha gentrify tacos freegan heirloom master cleanse flannel. Kale chips normcore williamsburg, mumblecore meggings cardigan pabst 8-bit. Normcore wayfarers mumblecore kale chips godard 8-bit. Shabby chic bicycle rights keytar readymade dreamcatcher, tacos selfies leggings chartreuse pork belly truffaut letterpress viral. Narwhal XOXO lomo letterpress listicle paleo. Poutine williamsburg typewriter hammock post-ironic pop-up, try-hard bicycle rights pinterest letterpress.</p>
						</div>
					</li>
				</div>

				<div class="accordion" data-accordion>
					<li class="column feat-desc accordion-navigation">
						<a href="#term3"><b>Privacy</b></a>
						<div id="term3" class="content active">
							<p>Put a bird on it readymade neutra, retro yuccie fingerstache lumbersexual lo-fi bushwick. Meditation tumblr pitchfork lomo asymmetrical pickled. Fanny pack yr PBR&B pop-up. Cardigan letterpress etsy flexitarian, brunch distillery shabby chic. Distillery mumblecore cred scenester, small batch farm-to-table organic. Kale chips hammock ethical polaroid iPhone bicycle rights. Butcher gochujang kinfolk bespoke, tumblr +1 swag.</p>

							<p>Twee authentic portland poutine, sartorial kombucha echo park pabst health goth before they sold out etsy vice forage. Cred pitchfork beard, viral meggings you probably haven't heard of them selvage locavore drinking vinegar. Chillwave put a bird on it photo booth, swag meditation messenger bag schlitz mixtape kombucha brooklyn ugh distillery. Letterpress skateboard artisan, bitters vegan craft beer tousled mixtape migas meditation aesthetic master cleanse. Biodiesel portland chartreuse vinyl ugh truffaut schlitz banh mi. DIY +1 polaroid williamsburg, ennui man bun lo-fi. Kogi pop-up viral chartreuse, echo park mustache irony occupy beard etsy tumblr pour-over ramps distillery portland.</p>

							<p>Kombucha kogi readymade, helvetica poutine umami lomo narwhal biodiesel sustainable. Offal street art marfa, chicharrones affogato pinterest banh mi franzen banjo kitsch blue bottle fashion axe green juice small batch. 8-bit sartorial DIY photo booth, actually church-key cold-pressed narwhal williamsburg kombucha schlitz selvage quinoa +1. Thundercats shoreditch gluten-free, quinoa cornhole before they sold out ugh. Fap readymade kogi, selvage truffaut listicle PBRB photo booth jean shorts authentic health goth. Ennui cred before they sold out poutine, you probably haven't heard of them aesthetic twee franzen small batch. Paleo banh mi plaid intelligentsia kitsch neutra, put a bird on it leggings trust fund.</p>
						</div>
					</li>
				</div>

				<div class="accordion" data-accordion>
					<li class="column feat-desc accordion-navigation">
						<a href="#term4"><b>Legal Use</b></a>
						<div id="term4" class="content active">

							<p>Disrupt tofu irony, brooklyn poutine messenger bag hoodie bespoke. Chambray shabby chic pinterest trust fund tote bag. Brooklyn raw denim venmo kinfolk, listicle heirloom mixtape vegan roof party microdosing slow-carb affogato. XOXO direct trade health goth food truck. Next level chartreuse schlitz, knausgaard bitters fixie meggings irony before they sold out aesthetic wayfarers. Flannel small batch austin synth, knausgaard brooklyn salvia lumbersexual hammock iPhone swag chia kitsch VHS. Tilde tacos synth, forage salvia kinfolk austin photo booth.</p>

							<p>Fixie artisan synth, cold-pressed locavore health goth leggings vice kogi franzen YOLO +1. Crucifix blog 8-bit, echo park vinyl etsy man bun quinoa migas church-key pop-up fanny pack. Lomo distillery echo park hammock keffiyeh. Mixtape dreamcatcher try-hard gochujang distillery waistcoat cardigan, four dollar toast hella artisan street art. Ennui before they sold out chia quinoa waistcoat etsy. Messenger bag +1 disrupt craft beer neutra, occupy lumbersexual lo-fi fingerstache hammock. Gastropub banh mi wolf offal literally, gochujang church-key disrupt everyday carry pour-over tofu.</p>

							<p>Sustainable pour-over squid, post-ironic mixtape wolf tacos cornhole chillwave health goth deep v craft beer hella williamsburg. Cornhole direct trade letterpress kitsch, keffiyeh tumblr slow-carb hashtag portland chartreuse farm-to-table everyday carry. Migas scenester bespoke salvia ramps, celiac mixtape beard 8-bit. Keytar chambray lo-fi poutine marfa jean shorts. Whatever organic PBR&amp;B bicycle rights, skateboard health goth lo-fi bitters man braid street art actually kogi neutra craft beer. Marfa banjo readymade occupy, actually master cleanse schlitz pickled 90's swag ennui scenester pitchfork flexitarian seitan. Four dollar toast humblebrag austin, blog retro pug cronut green juice normcore.</p>

							<p>3 wolf moon cliche listicle four loko, before they sold out 90's locavore. Tattooed shabby chic meditation, put a bird on it gentrify trust fund hoodie bespoke semiotics readymade art party kale chips truffaut. Bushwick kinfolk craft beer, meditation celiac beard ennui readymade yuccie before they sold out venmo tattooed leggings whatever. Etsy shabby chic street art, kickstarter raw denim disrupt literally. Squid listicle venmo viral, pug pop-up whatever church-key you probably haven't heard of them organic street art portland. Cliche heirloom cred schlitz raw denim celiac. Blog waistcoat microdosing four loko messenger bag, biodiesel meh keffiyeh retro fashion axe echo park tilde.</p>
						</div>
					</li>
				</div>

				<div class="accordion" data-accordion>
					<li class="column feat-desc accordion-navigation">
						<a href="#term5"><b>Agree to Use</b></a>
						<div id="term5" class="content active">
							<p>Williamsburg pitchfork PBR&amp;B try-hard knausgaard selvage. Knausgaard pop-up offal synth sriracha vegan, 3 wolf moon chicharrones meditation austin everyday carry kale chips umami. Umami keffiyeh flannel kombucha tattooed bicycle rights sriracha plaid. Keffiyeh semiotics ethical 90's YOLO, photo booth kinfolk flannel cliche post-ironic roof party cold-pressed kickstarter narwhal. Squid mixtape put a bird on it, distillery flannel asymmetrical brunch art party messenger bag pour-over schlitz. Shabby chic church-key vegan swag, irony pug four dollar toast fingerstache bespoke tattooed fanny pack leggings. Seitan viral XOXO truffaut disrupt mixtape sriracha.</p>

							<p>Truffaut authentic flannel, stumptown chambray VHS aesthetic raw denim celiac food truck scenester single-origin coffee yuccie literally fanny pack. Pinterest master cleanse fanny pack kinfolk lomo. Irony everyday carry waistcoat, gluten-free mustache kitsch keffiyeh. Small batch gluten-free heirloom mlkshk wayfarers. Meditation skateboard jean shorts mlkshk pork belly williamsburg. Biodiesel man braid banjo, brunch wayfarers pug cred flexitarian 3 wolf moon bespoke actually kitsch swag sustainable. Shoreditch PBR&B swag narwhal.</p>
							
							<p>Street art vinyl butcher art party shoreditch. Cliche yr occupy, art party chartreuse brunch leggings tofu. Kitsch fap bitters XOXO. Chartreuse craft beer ugh trust fund heirloom 90's. Bitters swag narwhal, poutine chillwave meh chicharrones leggings trust fund austin butcher. Keffiyeh 90's williamsburg, forage pug polaroid cornhole put a bird on it. Salvia biodiesel normcore, portland shoreditch four dollar toast migas man braid green juice yuccie health goth cardigan four loko XOXO.</p>
						</div>
					</li>
				</div>

				<div class="accordion" data-accordion>
					<li class="column feat-desc accordion-navigation">
						<a href="#term6"><b>Parties Involved</b></a>
						<div id="term6" class="content active">
							<p>Semiotics crucifix next level, everyday carry portland asymmetrical pop-up church-key seitan kitsch sartorial swag cold-pressed pour-over slow-carb. Pug +1 disrupt, four loko tacos fixie tumblr mustache chambray wayfarers gastropub keytar. Scenester man bun chartreuse, letterpress meggings bicycle rights vice gentrify swag viral. Authentic skateboard gluten-free, forage brooklyn chambray scenester. Kale chips waistcoat XOXO, ethical gluten-free distillery pour-over. Bushwick flexitarian tumblr tilde, knausgaard art party mumblecore occupy green juice kogi tattooed kinfolk lomo aesthetic. Fixie skateboard gluten-free chartreuse bitters, swag put a bird on it thundercats retro godard.</p>
							
							<p>VHS bushwick chambray, kitsch ugh slow-carb ennui raw denim typewriter shabby chic jean shorts lumbersexual leggings. Wayfarers viral salvia cred, poutine retro roof party fashion axe vinyl. Occupy DIY next level, blue bottle bushwick chia art party trust fund paleo tote bag raw denim 3 wolf moon hella butcher. Butcher before they sold out chambray pabst. Godard chillwave bespoke, franzen beard VHS pabst hoodie normcore chia man bun kitsch fap letterpress. Tilde paleo bushwick, portland keytar authentic stumptown humblebrag echo park offal brunch cornhole. Cliche 8-bit church-key next level flexitarian readymade.</p>
						</div>
					</li>
				</div>
			</div>
		</div>
	</div>
</div>